<div class="row">
  <div class="col-md-5">
    <ngx-earning-card></ngx-earning-card>
    <ngx-profit-card ng-reflect-flipped="true"></ngx-profit-card>
  </div>
  <div class="col-md-7">
    <h2>Sale Zones</h2>
    <ngx-echarts-pie></ngx-echarts-pie>
  </div>
</div>
<div class="row">

  <div id = "orders" class="col-md-6">
    <h2>Orders</h2>
    <ngx-echarts-bar></ngx-echarts-bar>
  </div>
  <div class="col-md-6">
    <h2>Marketing Stat</h2>
    <ngx-echarts-area-stack></ngx-echarts-area-stack>
  </div>
</div>


