<div style="margin-right: -35px; margin-left: -35px; margin-top: -15px; margin-bottom: -30px;">

	<iframe src="<%= Rails.configuration.x.dashboard1_url.to_s %>" style="width: 100%; height: calc(100vh - 57px);" frameborder="0" progress=false></iframe>
</div>
